@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    min-width: 100%;
    background-color: var(--main-bg-color);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    padding: 11px 21px;
    display: flex;
}

.logo img {
    padding: 5px;
    width: 122px;
    align-items: center;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 12px;
    font-size: 18px;
}

nav ul li a:hover {
    font-weight: bolder;
    color: aliceblue;
}
nav ul li a:hover {
     transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.search {
    display: flex;
    align-items: center;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.search input {
    margin: 0px 56px;
    border-radius: 5px;
    width: 493px;
    height: 27px;
    margin-left: 17px;
    padding: 0px 12px;
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: var(--main-bg-color);
    cursor: pointer;
    font-family: 'Poppins';
    margin: 0px -47px;
    border-radius: 7px;
    padding: 2px 10px;
    color: white;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btn:hover {
    font-weight: bold;
    color: #7d7d7d;
    background-color: #fffefe;
}

.login a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 550
}

.login a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.login img {
    filter: invert(1);
}

.function {
    align-items: center;
    display: flex;
    gap: 35px;
    margin-left: 148px;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2%;
}

.dots {
    margin-left: 35px;
}


.container {
    min-height: calc(100vh - 58px - 12vh);
}

.slider {
    display: flex;
    height: 249px;
    width: 1504px;
    margin: 12px auto;

}

.slider img {
    margin: 12px auto;
    width: 90%;
    cursor: pointer;
}

.card {
    background-color: #f2f0ef;
    width: 98%;
    margin: 25px auto;
    border-radius: 5px;
}

.card h2 {
    font-weight: 450;
    padding: 10px 12px;
    font-family: 'Poppins', sans-serif;
}

.card-item {
    display: inline-flex;
    flex-direction: column;
    width: 11vw;
    gap: 10px;
    justify-content: center;
    border: 1px solid rgb(229 214 214);
    border-radius: 2px;
    padding: 8px 4px;
    align-items: center;
    cursor: pointer;
    /* margin-left: 21px; */
}

.card-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


.card-item img {
    width: 152px;

}

.list {
    display: flex;
    padding-left: 67px;
    gap: 19px;
    margin-right: 22px;
    padding-bottom: 9px;
}

footer {
    height: 12vh;
    width: 100%;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Poppins', sans-serif;
}