@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
}

.logo {
    padding: 11px 21px;
    display: flex;
}

.logo img {
    padding: 5px;
    width: 122px;
    align-items: center;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 12px;
    font-size: 18px;
}

nav ul li a:hover {
    font-weight: bolder;
    color: aliceblue;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    margin: 0px 56px;
    border-radius: 5px;
    width: 493px;
    height: 27px;
    margin-left: 17px;
    padding: 0px 12px;
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: var(--main-bg-color);
    cursor: pointer;
    font-family: 'Poppins';
    margin: 0px -47px;
    border-radius: 7px;
    padding: 2px 10px;
    color: white;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btn:hover {
    font-weight: bold;
    color: #7d7d7d;
    background-color: #fffefe;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Poppins', sans-serif;
}