@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: "Bree Serif", serif
}

nav {
    display: flex;
}

.logo {
    padding: 11px 21px;
    display: flex;
}
.logo img{
    width: 122px;
    align-items: center;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 12px;
    font-size: 18px;
}

footer {
    height: 12vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    color: white;
    font-family: "Bree Serif", serif "Lato", sans-serif;

}